<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
             integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
             crossorigin=""/>
          <!-- Make sure you put this AFTER Leaflet's CSS -->
         <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
             integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
             crossorigin=""></script>
        <script src="{{url_for('static', filename='map.js')}}" defer></script>
    </head>
    <body>
        <h1>Munro comparison</h1>
        {% if user1 %}
        <h2>Comparing {{user1}} and {{user2}}</h2>
        {% endif %}
        <div id="map" style="height: 1000px"></div>
        {% if both %}
        <h3>Climbed by both</h3>
        <ul>
            {% for row in both %}
            <li>{{ row[0] }} ({{row[2]}}m)</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if user1 %}
        <h3>Climbed by {{user1}} only</h3>
        <ul>
            {% for row in only1 %}
            <li>{{ row[0] }} ({{row[2]}}m)</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if user2 %}
        <h3>Climbed by {{user2}} only</h3>
        <ul>
            {% for row in only2 %}
            <li>{{ row[0] }} ({{row[2]}}m)</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if neither %}
        <h3>Climbed by neither</h3>
        <ul>
            {% for row in neither %}
            <li>{{ row[0] }} ({{row[2]}}m)</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>
